{% extends 'base.html.twig' %}

{% block title %}Les livres{% endblock %}

{% block body %}
    {% block header %}
        {% include "partials/_header.html.twig" %}
    {% endblock %}

    <div class="example-wrapper">
        <h1>Les livres ✅</h1>

        <div class="container d-flex flex-wrap">        
            {% for livre in livres %}
                <div class="card m-1 bg-light" style="width: 18rem;">
                    <img class="card-img-top" src="uploads/images/{{livre.image}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{livre.nom}}</h5>
                        <p class="card-text"><b>Auteur :</b> {{livre.auteur}} <br>
                                            <b>Editeur :</b> {{livre.editeur}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
